body {
    margin: 0;
    background: #2e2e2c;
}
* {
    -webkit-tap-highlight-color: transparent;
}
::selection {
    color: #e0e0e0;
    background: rgba(255,64,129,.35);
}
#rin-bg{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -2;
    position: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 50%;
    background-color: #818181;
    background-image: url('https://soo.starxn.com/img/klbg.jpg');
    */background-image: url('https://img.afqaq.com/images/2021/12/28/wallhaven-j3y7l5_1920x108081e9bd30f5362037.png');*/
    /*background-image: url('https://img.afqaq.com/images/2022/03/26/QQ20220326175443.jpg');*/
}
#rin-bg:after {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    z-index: -1;
    position: fixed;
    background-color: rgba(66,66,66,.6);
}

#rin-footer {
    bottom: 0;
    margin: auto;
    width: 100vw;
    position: absolute;
    padding: 10px 0 10px 0;
}
#rin-footer div {
    font-size: 14px;
    text-align: center;
    color: rgba(255,255,255,.79);
}
#rin-footer div a {
    color: #2196f3;
    font-weight: 700;
    transition: all .3s;
    text-decoration: none;
}
#rin-copy{
    text-align: center;
}
.rin-tr {
    text-align: center;
    width: 60%;
    height: 2px;
    margin: auto;
    background: rgba(255,255,255,.3);
}
#rin-main {
    margin: auto;
    text-align: center;
    margin-top: calc(50vh - 200px);
}
@media (max-width: 600px){
    #rin-main {
        width: 95%;
    }
}
#rin-headimg{
    height: 90px;
    margin-top: 3%;
}
.rin-description{
    text-align: center;
    color:white;
    text-shadow: 0 0 8px rgba(255,255,255,.55);
    letter-spacing:8px;
}
.rin-btn {
    text-align: center;
    color:white;
}
#input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: -10;
}
.rin-name {
  margin-top: 20px;
  color: white;
  font-size: 26px;
  font-weight: 700;
  text-shadow: 0 0 8px rgba(255,255,255,.55);
}
.rin-description {
  color: white;
  text-shadow: 0 0 8px rgba(255,255,255,.55);
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 20px;
  letter-spacing: 8px;
}

